{% extends 'layout.html' %}

{% block title%}Task Two{% endblock %}

{% block head %}
  <link rel="stylesheet" href="css/task_two.css">
{% endblock %}

{% block content %}
  <h1>Graph (build time vs. time)</h1>
  <div id="svg_container"></div>
  <script type="text/javascript">
    var margin = {top: 100, right: 100, bottom: 100, left: 100},
      width = 960 - margin.left - margin.right,
      height = 500 - margin.top - margin.bottom;

    var parseDate = d3.time.format("%Y-%m-%d %H:%M:%S").parse;

    var x = d3.time.scale().range([0, width]);
    var y = d3.scale.linear().range([height, 0]);

    var xAxis = d3.svg.axis().scale(x).orient("bottom").ticks(5);
    var yAxis = d3.svg.axis().scale(y).orient("left").ticks(10);

    /* Example of the data array
     * var data = [
     *   { "time" : "2014-09-10 05:38:55",  "build_time" : 605},
     *   { "time" : "2014-09-10 02:07:17",  "build_time" : 674},
     *   { "time" : "2014-09-09 23:29:39",  "build_time" : 0},
     *   { "time" : "2014-09-05 21:29:30",  "build_time" : 470}
     * ];
    */
    
    // Function which the path generator uses to produce path data:
    var linearFunction = d3.svg.line()
      .x(function(d) { return x(d.time); })
      .y(function(d) { return y(d.build_time); })
      .interpolate("basis");
   
    var svgContainer = d3.select("#svg_container")
      .append("svg")
      .attr("width", width + margin.left + margin.right)
      .attr("height", height + margin.top + margin.bottom)
      .append("g")
      .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    d3.csv("data_two.csv", function(err, data) {
      data.forEach(function(d) {
        d.time = parseDate(d.time);
        d.build_time = +d.build_time;
      })

      x.domain(d3.extent(data, function(d) { return d.time; }));
      y.domain([0, d3.max(data, function(d) { return d.build_time; })]);

      // Add the linearFunction path
      var linearGraph = svgContainer.append("path")
        .attr("class", "line")
        .attr("d", linearFunction(data))

      svgContainer.append("g")
        .attr("class", "x axis")
        .attr("transform", "translate(0," + height + ")")
        .call(xAxis);

      svgContainer.append("g")
        .attr("class", "y axis")
        .call(yAxis)
        .append("text")
        .attr("transform", "rotate(-90)")
        .attr("y", 6)
        .attr("dy", ".71em")
        .style("text-anchor", "end")
        .text("Build time");
    });

  </script>
{% endblock %}
